@font-face {
	font-family:"Brown LL Black";
	font-style:italic;
	font-weight:900;
	src : url("../../font/BrownLL-BlackItalic.otf");
}
@font-face {
	font-family:"Brown LL Black";
	font-style:oblique;
	font-weight:900;
	src : url("../../font/BrownLL-BlackItalic.otf");
}
@font-face {
	font-family:"Brown LL";
	font-style:normal;
	font-weight:bold;
	src : url("../../font/BrownLL-Bold.otf");
}
@font-face {
	font-family:"Brown LL";
	font-style:italic;
	font-weight:bold;
	src : url("../../font/BrownLL-BoldItalic.otf");
}
@font-face {
	font-family:"Brown LL";
	font-style:oblique;
	font-weight:bold;
	src : url("../../font/BrownLL-BoldItalic.otf");
}
@font-face {
	font-family:"Brown LL";
	font-style:italic;
	font-weight:normal;
	src : url("../../font/BrownLL-Italic.otf");
}
@font-face {
	font-family:"Brown LL";
	font-style:oblique;
	font-weight:normal;
	src : url("../../font/BrownLL-Italic.otf");
}
@font-face {
	font-family:"Brown LL Light";
	font-style:normal;
	font-weight:300;
	src : url("../../font/BrownLL-Light.otf");
}
@font-face {
	font-family:"Brown LL Light";
	font-style:italic;
	font-weight:300;
	src : url("../../font/BrownLL-LightItalic.otf");
}
@font-face {
	font-family:"Brown LL Light";
	font-style:oblique;
	font-weight:300;
	src : url("../../font/BrownLL-LightItalic.otf");
}
@font-face {
	font-family:"Brown LL Medium";
	font-style:normal;
	font-weight:500;
	src : url("../../font/BrownLL-Medium.otf");
}
@font-face {
	font-family:"Brown LL";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/BrownLL-Regular.otf");
}
@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/MinionPro-Regular.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Marco-gr-fico-b-sico {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Marco-de-texto-b-sico {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#004096;
	font-family:"Brown LL Light", sans-serif;
	font-size:1000px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-2 {
	color:#004096;
	font-family:"Brown LL Light", sans-serif;
	font-size:1020px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-3 {
	color:#004096;
	font-family:"Brown LL", sans-serif;
	font-size:1080px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	color:#004096;
	font-family:"Brown LL Black", sans-serif;
	font-size:1200px;
	font-style:italic;
	font-weight:900;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"Brown LL Medium", sans-serif;
	font-size:1400px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"Brown LL Light", sans-serif;
	font-size:1100px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-7 {
	color:#ffffff;
	font-family:"Brown LL", sans-serif;
	font-size:1200px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#004096;
	font-family:"Brown LL", sans-serif;
	font-size:1200px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#004096;
	font-family:"Brown LL", sans-serif;
	font-size:1000px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-10 {
	color:#004096;
	font-family:"Brown LL", sans-serif;
	font-size:800px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#004096;
	font-family:"Brown LL Light", sans-serif;
	font-size:800px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-12 {
	color:#004096;
	font-family:"Brown LL", sans-serif;
	font-size:800px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#004096;
	font-family:"Brown LL Light", sans-serif;
	font-size:840px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-14 {
	color:#755c78;
	font-family:"Brown LL", sans-serif;
	font-size:800px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-15 {
	color:#52a194;
	font-family:"Brown LL", sans-serif;
	font-size:800px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-16 {
	color:#004096;
	font-family:"Brown LL Light", sans-serif;
	font-size:800px;
	font-style:italic;
	font-weight:300;
}
#_idContainer000 {
	-ms-transform:translate(115.182px,126.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(115.182px,126.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(115.182px,126.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(115.182px,126.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:51.53px;
}
#_idContainer001 {
	-ms-transform:translate(169.476px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(169.476px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(169.476px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(169.476px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:39.13px;
}
#_idContainer002 {
	-ms-transform:translate(218.738px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(218.738px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(218.738px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(218.738px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.02px;
}
#_idContainer003 {
	-ms-transform:translate(244.761px,126.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(244.761px,126.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(244.761px,126.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(244.761px,126.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:39.13px;
}
#_idContainer004 {
	-ms-transform:translate(290.919px,143.442px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(290.919px,143.442px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(290.919px,143.442px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(290.919px,143.442px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:36.04px;
}
#_idContainer005 {
	-ms-transform:translate(333.987px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(333.987px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(333.987px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(333.987px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:37.20px;
}
#_idContainer006 {
	-ms-transform:translate(377.435px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(377.435px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(377.435px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(377.435px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:39.13px;
}
#_idContainer007 {
	-ms-transform:translate(426.697px,126.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(426.697px,126.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(426.697px,126.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(426.697px,126.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.07px;
}
#_idContainer008 {
	-ms-transform:translate(466.739px,127.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(466.739px,127.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:54.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(466.739px,127.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(466.739px,127.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:48.05px;
}
#_idContainer009 {
	-ms-transform:translate(522.190px,143.442px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(522.190px,143.442px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(522.190px,143.442px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(522.190px,143.442px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:36.04px;
}
#_idContainer010 {
	-ms-transform:translate(565.255px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(565.255px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(565.255px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(565.255px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.02px;
}
#_idContainer011 {
	-ms-transform:translate(595.541px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(595.541px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(595.541px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(595.541px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.02px;
}
#_idContainer012 {
	-ms-transform:translate(621.562px,143.442px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(621.562px,143.442px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(621.562px,143.442px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(621.562px,143.442px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:36.03px;
}
#_idContainer013 {
	-ms-transform:translate(664.627px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(664.627px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(664.627px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(664.627px,143.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.02px;
}
#_idContainer014 {
	-ms-transform:translate(690.648px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(690.648px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(690.648px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(690.648px,143.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:39.13px;
}
#_idContainer015 {
	-ms-transform:translate(324.479px,10.723px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(324.479px,10.723px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:72.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(324.479px,10.723px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(324.479px,10.723px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:57.29px;
}
#_idContainer016 {
	-ms-transform:translate(396.678px,34.661px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(396.678px,34.661px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(396.678px,34.661px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(396.678px,34.661px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:42.66px;
}
#_idContainer017 {
	-ms-transform:translate(451.491px,14.305px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(451.491px,14.305px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:68.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(451.491px,14.305px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(451.491px,14.305px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.33px;
}
#_idContainer018 {
	-ms-transform:translate(467.849px,35.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(467.849px,35.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.65px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(467.849px,35.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(467.849px,35.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:47.06px;
}
#_idContainer019 {
	-ms-transform:translate(518.577px,34.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(518.577px,34.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(518.577px,34.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(518.577px,34.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:43.99px;
}
#_idContainer020 {
	-ms-transform:translate(573.895px,34.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(573.895px,34.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(573.895px,34.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(573.895px,34.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.04px;
}
#_idContainer021 {
	-ms-transform:translate(602.632px,34.664px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(602.632px,34.664px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(602.632px,34.664px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(602.632px,34.664px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:34.27px;
}
#_idContainer022 {
	-ms-transform:translate(646.507px,14.305px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(646.507px,14.305px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:68.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(646.507px,14.305px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(646.507px,14.305px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.33px;
}
#_idContainer023 {
	-ms-transform:translate(665.933px,9.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(665.933px,9.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:73.65px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(665.933px,9.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(665.933px,9.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:46.24px;
}
#_idContainer024 {
	-ms-transform:translate(723.505px,34.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(723.505px,34.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(723.505px,34.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(723.505px,34.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:46.24px;
}
#_idContainer025 {
	-ms-transform:translate(781.080px,9.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(781.080px,9.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:73.65px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(781.080px,9.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(781.080px,9.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:46.24px;
}
#_idContainer026 {
	-ms-transform:translate(113.797px,9.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(113.797px,9.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:73.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(113.797px,9.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(113.797px,9.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:54.82px;
}
#_idContainer027 {
	-ms-transform:translate(178.416px,10.639px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(178.416px,10.639px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(178.416px,10.639px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(178.416px,10.639px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:41.90px;
}
#_idContainer028 {
	-ms-transform:translate(228.699px,10.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(228.699px,10.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:72.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(228.699px,10.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(228.699px,10.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:57.58px;
}
#_idContainer029 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:92.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:92.61px;
}
#_idContainer030 {
	-ms-transform:translate(126.338px,515.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(126.338px,515.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:182.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(126.338px,515.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(126.338px,515.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:827.32px;
}
#_idContainer031 {
	-ms-transform:translate(83.999px,933.542px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(83.999px,933.542px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:302.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(83.999px,933.542px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(83.999px,933.542px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:912.00px;
}
#_idContainer032, #_idContainer041, #_idContainer052, #_idContainer064, #_idContainer080 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:90.22px;
}
#_idContainer033, #_idContainer042, #_idContainer053, #_idContainer065, #_idContainer081 {
	-ms-transform:translate(0.000px,17.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,17.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,17.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,17.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:90.22px;
}
#_idContainer034, #_idContainer043, #_idContainer054, #_idContainer066, #_idContainer082 {
	-ms-transform:translate(0.000px,35.626px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,35.626px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,35.626px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,35.626px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:90.22px;
}
#_idContainer035 {
	-ms-transform:translate(85.000px,1806.777px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(85.000px,1806.777px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(85.000px,1806.777px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(85.000px,1806.777px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:90.22px;
}
#_idContainer036, #_idContainer038, #_idContainer051, #_idContainer062 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1920.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1080.00px;
}
#_idContainer037 {
	-ms-transform:translate(-336.000px,819.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-336.000px,819.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1920.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-336.000px,819.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-336.000px,819.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1080.00px;
}
#_idContainer039 {
	-ms-transform:translate(271.795px,687.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(271.795px,687.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:533.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(271.795px,687.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(271.795px,687.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:586.00px;
}
#_idContainer040, #_idContainer056, #_idContainer068, #_idContainer078 {
	-ms-transform:translate(210.000px,45.299px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(210.000px,45.299px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:84.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(210.000px,45.299px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(210.000px,45.299px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:169.00px;
}
#_idContainer044, #_idContainer055, #_idContainer067, #_idContainer083 {
	-ms-transform:translate(85.000px,70.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(85.000px,70.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(85.000px,70.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(85.000px,70.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:90.22px;
}
#_idContainer045, #_idContainer047, #_idContainer049 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.00px;
}
#_idContainer046 {
	-ms-transform:translate(182.000px,924.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(182.000px,924.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(182.000px,924.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(182.000px,924.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.00px;
}
#_idContainer048 {
	-ms-transform:translate(182.000px,734.129px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(182.000px,734.129px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(182.000px,734.129px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(182.000px,734.129px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.00px;
}
#_idContainer050 {
	-ms-transform:translate(182.000px,824.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(182.000px,824.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(182.000px,824.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(182.000px,824.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.00px;
}
#_idContainer057 {
	-ms-transform:translate(84.000px,219.549px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(84.000px,219.549px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/51.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:1252.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(84.000px,219.549px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(84.000px,219.549px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:939.00px;
}
#_idContainer058, #_idContainer069, #_idContainer074 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:76.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:49.69px;
}
#_idContainer059, #_idContainer070, #_idContainer075 {
	-ms-transform:translate(61.594px,13.867px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(61.594px,13.867px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(61.594px,13.867px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(61.594px,13.867px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.92px;
}
#_idContainer060, #_idContainer071, #_idContainer076 {
	-ms-transform:translate(56.662px,28.048px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(56.662px,28.048px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.662px,28.048px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(56.662px,28.048px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.93px;
}
#_idContainer061, #_idContainer072, #_idContainer077 {
	-ms-transform:translate(943.487px,55.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(943.487px,55.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:76.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(943.487px,55.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(943.487px,55.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:76.51px;
}
#_idContainer063 {
	-ms-transform:translate(84.000px,219.549px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(84.000px,219.549px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/56.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:5517.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(84.000px,219.549px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(84.000px,219.549px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:939.00px;
}
#_idContainer073 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6200.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1080.00px;
}
#_idContainer079 {
	-ms-transform:translate(84.000px,219.549px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(84.000px,219.549px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/69.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:2250.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(84.000px,219.549px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(84.000px,219.549px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:939.00px;
}
#_idContainer084 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2800.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1080.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenButton div._idGen-Appearance-Normal {
	visibility:visible;
}
div._idGenButton div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton {
	cursor:pointer;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Rollover {
	visibility:visible;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Click {
	visibility:visible;
}
div._idGenStateHide div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
